@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), 
         url('../fonts/raleway-v28-latin-regular.woff') format('woff');
   
  }

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background: #241D1C;
    color: #F6F3E3;
}

img {
    max-width: 100%;
    height: auto;
}
.visually_hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1312px;
    padding: 0 48px;
    margin: 0 auto;
}  


.about {
}
.about__title {
}
.about__description {
}
.about__list {
}
.about__item {
}
.about__item-title {
}
.about__item-description {
}
.reserve {
}
.reserve__title {
}
.reserve__list {
}
.reserve__item {
}
.reserve__form {
}
.reserve__form-container {
}
.reserve__fieldset {
}
.reserve__legend {
}
.radio {
}
.radio__input {
}
.radio__label {
}
.reserve__fieldset_sub {
}
.reserve__btn {
}
.footer {
}
.copyright {
}






@media (max-width: 768px) {
    .container {
        padding: 0 24px;
    }
}